

<br>
<p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Show"></p-button>

<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">



  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displayModal=false" label="Clear" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (click)="checker()" label="Yes" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>


<p-calendar [(ngModel)]="date14"
            [touchUI]="true"
            [readonlyInput]="true"
            inputId="touchui"
            dateFormat="dd/mm/yyyy"
            selectionMode="multiple"
            [(ngModel)]="dates"
            (change)="test($event)">
</p-calendar>


<!--<div>-->
<!--  <simple-calendar-->
<!--    [selectedDate]="selDate"-->
<!--    [heatmap]="heatmap"-->
<!--    [openPage]="selDate"-->
<!--    (change)="dateChanged($event)"-->
<!--    #simpleCalender-->
<!--    (monthChange)="monthChanged($event)"-->
<!--    [highlightToday]="highlightToday"-->
<!--    [ColorMap]="colorMap">-->
<!--  </simple-calendar>-->
<!--</div>-->

