

<br>
<p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Show"></p-button>

<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">

  <scandit-sdk-barcode-picker
    class="sizener"
    [scanSettings]="settings"
    [accessCamera]="true"
    [enableCameraSwitcher]="true"
    [enableTorchToggle]="true"
    [enablePinchToZoom]="true"
    [enableTapToFocus]="true"
    [playSoundOnScan]="true"
    [vibrateOnScan]="true"
    [targetScanningFPS]="30"
    [zoom]="0"
    [mirrorImage]="false"
    (scan)="onScan($event.barcodes)"
    (error)="onError($event)"
  ></scandit-sdk-barcode-picker>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="setClear()" label="Clear" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (click)="checker()" label="Yes" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
<br>
<br>
<br>
<input type="text" [(ngModel)]="val">

<!--<p-calendar [(ngModel)]="date14"-->
<!--            [touchUI]="true"-->
<!--            [readonlyInput]="true"-->
<!--            inputId="touchui"-->
<!--            dateFormat="dd/mm/yyyy"-->
<!--            selectionMode="multiple"-->
<!--            [(ngModel)]="dates"-->
<!--            (change)="test($event)">-->
<!--</p-calendar>-->


<!--<div>-->
<!--  <simple-calendar-->
<!--    [selectedDate]="selDate"-->
<!--    [heatmap]="heatmap"-->
<!--    [openPage]="selDate"-->
<!--    (change)="dateChanged($event)"-->
<!--    #simpleCalender-->
<!--    (monthChange)="monthChanged($event)"-->
<!--    [highlightToday]="highlightToday"-->
<!--    [ColorMap]="colorMap">-->
<!--  </simple-calendar>-->
<!--</div>-->

<!--<app-calendar></app-calendar>-->


<!--<scandit-sdk-barcode-picker-->
<!--  [scanSettings]="settings"-->
<!--  (scan)="onScan($event)"-->
<!--  (error)="onError($event)"-->
<!--&gt;</scandit-sdk-barcode-picker>-->



